services:
  mongo:
    image: mongo:7.0
    container_name: mongodb
    restart: unless-stopped
    # 認証(Auth)関連の変数を削除する
    # environment:
    #   MONGO_INITDB_ROOT_USERNAME: test
    #   MONGO_INITDB_ROOT_PASSWORD: testpass
    
    # KeyFile指定なしで起動できる
    command: ["mongod", "--replSet", "rs0", "--bind_ip_all"]
    
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
    driver: local